<div class="nav">

  <div class="options">


  <a href="/home">Home</a>
<<<<<<< HEAD

=======
  
>>>>>>> a932e857ebb62f18b9bb7643e8eac5e7a9b29c63
  <a href="/chat/0">Messages</a>
  <a href="/mymusic">My Music</a>
  <a href="/videos">Videos</a>
  <a href="/maps">Maps</a>
<<<<<<< HEAD
=======
  <a href="/news">News</a>
>>>>>>> a932e857ebb62f18b9bb7643e8eac5e7a9b29c63

  <div class="rightSide">

  <div class="innerRight">
    <div class="alertbtn" onclick="showNotification()">
      <span>Alerts</span>
      <span class="badge"></span>
    </div>
    <a href="/profile"> <%= username %> </a>
    <a href="/logout" id="confirmLogout">Logout</a>
  </div>

  <div class="innerLeft">
    <form class="searchBar" action="/search" method="post">
      <input type="text" name="searchInput" id="searchInput" placeholder="Search...">
      <input type="submit" name="searchSubmit" value="Search">
    </form>
  </div>

  </div>

  </div>

  <div class="centered">
    <a href="/home">Museical</a>
  </div>

</div>
