
<div id="notList" class="notificationList">
    <h2>Notifications</h2>
    <span onclick="showNotification()" class="close_alert" title="hide notifications">×</span>
    <div id="alerts" class="noteList-content">

    </div>
</div>

<script>
    //note that chat.ejs has its own seperate version of this script to handle its additional socket.io functions
    $(()=> {
        var socket = io();
        var username = '<%= username %>';
        socket.emit('username', username);

        socket.on('oldnotifications', (rows)=>{
            console.log('recieved old notification')
            rows.forEach((r)=>{
                let moddedmessage = r.message.replace('&#39;', "'")
                $("<li>").text(moddedmessage).prependTo($("#alerts")).append($("<span class = 'dismiss'>").click(function(){
                    socket.emit('dismissAlert', {recipient: r.recipient , message: r.message });
                    $("li").remove( ":contains(" + moddedmessage + ")" );
                    updateAlertNumber();
                }).text("x"))
            })
            updateAlertNumber()
        })

        socket.on('notification', (note)=>{
            console.log(window.location.pathname)
            if(window.location.pathname != note.link){
                let moddedmessage = note.message.replace('&#39;', "'")
                $("li").remove( ":contains(" + moddedmessage + ")" )
                $("<li>").text(moddedmessage).prependTo($("#alerts")).append($("<span class = 'dismiss'>").click(function(){
                    socket.emit('dismissAlert', {recipient: username , message: note.message });
                    $("li").remove( ":contains(" + moddedmessage + ")" );
                    updateAlertNumber();
                }).text("x"))
                updateAlertNumber()
            }
        });
    });

    function showNotification () {  
        document.getElementById("notList").classList.toggle("show");
        document.getElementById("alerts").classList.toggle("show");
    }

    function updateAlertNumber(){
        var liAlerts = document.getElementById("alerts").getElementsByTagName("li");
        var numAlerts = liAlerts.length;
        if (numAlerts > 0){
            $('.badge').html(numAlerts);
            $(".badge").css("display", "block");
            $( '.noAlertMsg' ).remove();
        } else {
            $('.badge').html(numAlerts);
            $(".badge").css("display", "none");
            $('#alerts').append($("<span class = 'noAlertMsg'>").text("No notifications to display"));
        }
    }
</script>
<script src="/socket.io/socket.io.js"></script>