
<div id="notList" class="notificationList">
    <div id="alerts" class="noteList-content">
        <h2>Notifications</h2>
    </div>
</div>

<script>
    $(()=> {
        var socket = io();
        socket.on('notification', (note)=>{
            console.log(note);
            $('#alerts').append($("<li>").text(note));
            $('#alerts').append($("<br>"));
            updateAlertNumber()
        });
        updateAlertNumber()
    });

    function showNotification () {
        document.getElementById("notList").classList.toggle("show");
        document.getElementById("alerts").classList.toggle("show");
    }

    function updateAlertNumber(){
        var liAlerts = document.getElementById("alerts").getElementsByTagName("li");
        var numAlerts = liAlerts.length;
        if (numAlerts > 0){
            $('.badge').html(numAlerts);
            $(".badge").css("display", "block");
        } else {
            $('.badge').html(numAlerts);
            $(".badge").css("display", "none");
            $('#alerts').append($("<li>").text("No notifications to display"));
        }
    }
</script>
<script src="/socket.io/socket.io.js"></script>