<!-- <div id="notificationList" class="notification-content">
    <h2>Notifications</h2>
    <ul id="notelist">
        <li>test</li>
        <li>example</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat enim delectus ad reiciendis ipsam recusandae consequatur, quibusdam assumenda! Ratione porro beatae, repellat magnam nesciunt reprehenderit error totam optio quod? Nihil?</li>
    </ul>
</div> -->

<div class="notificationList">
    <div id="alerts" class="noteList-content">
        <h2>Notifications</h2>
        
    </div>
  </div>

<script>
    $(()=> {
        var socket = io();
        socket.on('notification', (note)=>{
            console.log(note);
            $('#alerts').append($("<li>").text(note));
            $('#alerts').append($("<br>"));
            updateAlertNumber()
        });

        window.onload = () => {
            updateAlertNumber()
        }
    });

    function showNotification () {
        document.getElementById("alerts").classList.toggle("show");
    }

    function updateAlertNumber(){
        var liAlerts = document.getElementById("alerts").getElementsByTagName("li");
        var numAlerts = liAlerts.length;
        if (numAlerts > 0){
            $('.badge').html(numAlerts);
            $(".badge").css("display", "inline-block");
        } else {
            $('.badge').html(numAlerts);
            $(".badge").css("display", "none");
        }
    }


    //hide notification onclick
    window.onclick = function(event) {
        if (!event.target.matches('.alertbtn')) {
                var dropdowns = document.getElementsByClassName("noteList-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
</script>
<script src="/socket.io/socket.io.js"></script>