
<div id="notList" class="notificationList">
    <h2>Notifications</h2>
    <div id="alerts" class="noteList-content">
    </div>
</div>

<script>
    $(()=> {
        var socket = io();
        socket.on('notification', (note)=>{
            console.log(window.location.pathname)
            if(window.location.pathname != note.link){
                $('#alerts').prepend($("<li>").text(note.message));
                $('#alerts').prepend($("<br>"));
                updateAlertNumber()
            }
        });
        updateAlertNumber()
    });

    function showNotification () {
        document.getElementById("notList").classList.toggle("show");
        document.getElementById("alerts").classList.toggle("show");
    }

    function updateAlertNumber(){
        var liAlerts = document.getElementById("alerts").getElementsByTagName("li");
        var numAlerts = liAlerts.length;
        if (numAlerts > 0){
            $('.badge').html(numAlerts);
            $(".badge").css("display", "block");
            $( '.noAlertMsg' ).remove();
        } else {
            $('.badge').html(numAlerts);
            $(".badge").css("display", "none");
            $('#alerts').append($("<span class = 'noAlertMsg'>").text("No notifications to display"));
        }
    }
</script>
<script src="/socket.io/socket.io.js"></script>