*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.contactList{
text-align: center;
display: inline-block;
width:20%;
height: 100%;
border:solid black 1px;
position: fixed;
right: 0;
}
#chatlist{
height: 100%;
width: 100%;
overflow-y: scroll;
overflow-wrap: break-word;
max-width: 100%;
}
#chatlist a{
display: inline-block;
height:fit-content;
width: 98%;
padding: 3px;
margin-bottom: 4px;
background-color: lightpink;
color: black;
text-decoration: none;
font-size: large;
border-radius: 15px 15px 15px 15px;
vertical-align: middle;
}
body{
font: 13px Helvetica, Arial;
height: 100vh;
min-width: 1050px;
}
#chatForm{
background: #fff;
padding: 3px;
position: fixed;
bottom: 0;
width: 80%;
border: solid black 1px;
height: 7%;
}
#chatForm input{
border-style: solid;
border-width: 1px;
padding: 10px;
width: 85%;
margin-right: .5%;
height: 100%;
}
#sendbtn{
width: 9%;
height: 90%;
color: whitesmoke;
background: darkgreen;
border: none;
padding: 10px;
margin-left: 2%;
font-size: large;
}
.container1{
    width: 80%;
    height: 83.5%;
}
.chat_controls{
    width: 100%;
    height: 35px;
    background-color: lavender
}
.chat_title{
    height: 100%;
    width: fit-content;
    text-align: center;
    font-size: 1.7em;
    display: inline-block;
    margin-left: 9px;
    margin-right: 7px;
}
#messages{
list-style-type: none;
margin: 0;
padding: 0;
overflow-y: scroll;
width: 100%;
height: 100%;
}
#messages li{
padding: 5px 10px;
background-color: lightgreen;
border-radius: 15px 15px 15px 15px;
display: inline-block;
font-size: 1.2em;
margin-left: 7px;
margin-top: 10px;
max-width: 98%;
overflow-wrap: break-word;
}

span{
margin-left: 15px;
}

.nav{
position: relative;
}

.options{
background-color: rgb(152,255,152);
overflow: hidden;
position: relative;
}

.right {
  float: right;
}

.options a:hover{
background-color: rgb(50,50,50);
}

.options a{
text-decoration: none;
color: black;
text-align: center;
padding: 10px 20px;
float: left;
}

h3{
background-color: rgb(152,255,152);
color: black;
padding: 10px;
}

.centered a{
text-decoration: none;
color: black;
font-size: 35px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

#chatnameinput{
width: 70%;
height: 30px;
text-align: center;
}

#adduserinput{
width: 70%;
height: 30px;
text-align: center;
}

#makeconfirm:hover{
opacity: 1;
}

#addconfirm:hover{
opacity: 1;
}

#addconfirm{
float: left;
width: 50%;
font-size: large;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
opacity: 0.9;
border: 2px outset black
}

#createwindowbtn {
font-size: large;
background-color: #36a8f4;
color: white;
padding: 14px 20px;
margin: 8px 0;
cursor: pointer;
width: 100%;
opacity: 0.9;
border: 2px outset black
}

#addwindowbtn {
display: inline-block;
font-size: 1.2em;
background-color: #2dc0c0;
color: white;
cursor: pointer;
width: fit-content;
opacity: 0.9;
border: 1px outset black;
text-align: center;
height: 100%;
padding-left: 5px;
padding-right: 5px;
}

#leavewindowbtn {
display: inline-block;
font-size: 1.2em;
background-color: #2dc0c0;
color: white;
cursor: pointer;
width: fit-content;
opacity: 0.9;
border: 1px outset black;
text-align: center;
height: 100%;
padding-left: 5px;
padding-right: 5px;
}

#createwindowbtn:hover {
opacity:1;
}


.cancelbtn, .createbtn {
float: left;
width: 50%;
font-size: large;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
opacity: 0.9;
border: 2px outset black
}


.cancelbtn {
background-color: #ccc;
color: black;
}


.createbtn {
background-color: #36f495;
}

.leavebtn{
    float: left;
    width: 50%;
    font-size: large;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    border: 2px outset black;
    background-color: lightcoral;
    }


.container3 {
padding: 16px;
text-align: center;
}

.container4{
padding: 16px;
text-align: center;
}


.modal {
display: none;
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: #474e5d;
padding-top: 50px;
}


.windowcontent {
background-color: #fefefe;
margin: 5% auto 15% auto;
border: 1px solid #888;
width: 80%;
border-radius: 8px 8px 8px 8px;
font-size: 1.3em;
}


hr {
border: 1px solid #f1f1f1;
margin-bottom: 25px;
}


.close {
position: absolute;
right: 35px;
top: 15px;
font-size: 40px;
font-weight: bold;
color: #f1f1f1;
}

.close:hover,
.close:focus {
color: #f44336;
cursor: pointer;
}


.clearfix::after {
content: "";
clear: both;
display: table;
}


@media screen and (max-width: 300px) {
.cancelbtn, .createbtn {
    width: 100%;
}
}
