body {
  background-color: rgb(0,0,0);
  margin: 0;
  font: 13px Helvetica, Arial;
}

.nav {
  position: relative;
}

.options {
  background-color: rgb(152,255,152);
  overflow: hidden;
  position: relative;
}

.rightSide {
  float: right;
}

.options a:hover {
  background-color: rgb(50,50,50);
}

.options a {
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 10px 20px;
  float: left;
}

.tabs h2 {
  background-color: rgb(152,255,152);
  color: black;
  padding: 10px;
}

.centered a {
  text-decoration: none;
  color: black;
  font-size: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info {
  width: 18%;
  float: left;
  margin: 10px;
  color: white;
}

.info img {
  border-style: solid;
  border-color: white;
  border-width: medium;
  width: 100%;
  height: 100%;
}

.info h3 {
  text-align: center;
}

.info h2 {
  text-align: center;
}

.floater {
  overflow: hidden;
}

.activity h3 {
  color: white;
  text-align: center;
}

.alert {
  color: red;
}

.innerLeft {
  float: right;
  height: 35px;
  line-height: 35px;
  padding-right: 15px;
}

.innerRight {
  float: right;
}

#searchInput {
  background-color: rgb(0,0,0);
  color: white;
}

#searchInput::placeholder {
  color: white;
}

[name=searchSubmit] {
  color: white;
  background-color: black;
}

.results {
  color:white;
  margin-top: 8%;
  margin-left: 12%;
}

.resultHeader {
  font-size: 400%;
  margin-bottom: 5px;
}

.matches {
  color: white;
  height: 130px;;
  margin: 20px;
}

.matches img {
  float: left;
  height: 124px;
  border-style: solid;
  border-color: white;
  border-width: medium;
}

.matches h2 {
  padding: 10px;
  overflow: hidden;
}

.follow {
  text-align: center;
}

.follow input{
  display: inline;
  font: Helvetica Bold;
  font-size: 20px;
  padding: 10px 40px;
  background-color: rgb(152,255,152);
}
