body {
  background-color: rgb(0,0,0);
  margin: 0;
  font: 13px Helvetica, Arial;
  min-width: 1140px;
}

.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}

.options {
  background-color: rgb(152,255,152);
  overflow: hidden;
  position: relative;
}

.rightSide {
  float: right;
}

.options a:hover {
  background-color: rgb(50,50,50);
}

.options a {
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 10px 20px;
  float: left;
}

.tabs h2 {
  background-color: rgb(152,255,152);
  color: black;
  padding: 10px;
}

.centered a {
  text-decoration: none;
  color: black;
  font-size: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info {
  width: 17%;
  float: left;
  margin: 10px;
  color: white;
}

.info img {
  border-style: solid;
  border-color: white;
  border-width: medium;
  width: 100%;
  height: 100%;
}

.info h3 {
  text-align: center;
  overflow: visible;
}

.info h2 {
  text-align: center;
}

.floater {
  overflow: hidden;
}

.activity h3 {
  color: white;
  text-align: center;
}

.activity h4 {
  color : white;
  text-align : left;
  margin : 0px;
}

.alert {
  color: red;
}

.innerLeft {
  float: right;
  height: 35px;
  line-height: 35px;
  padding-right: 15px;
}

.innerRight {
  float: right;
}

#searchInput {
  background-color: rgb(0,0,0);
  color: white;
}

#searchInput::placeholder {
  color: white;
}

[name=searchSubmit] {
  color: white;
  background-color: black;
}

.results {
  color:white;
  margin-top: 8%;
  margin-left: 12%;
}

.results a {
  text-decoration: none;
}

.divAnchor a{
  color: white;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.resultHeader {
  font-size: 400%;
  margin-bottom: 5px;
}

.matches {
  position: relative;
  color: white;
  height: 130px;
  margin: 20px;
  width: 70%;
  border-style: groove;
  border-color: white;
  border-width: thin;
}

.matches img {
  float: left;
  height: 124px;
  border-style: solid;
  border-color: white;
  border-width: medium;
}

.matches h2, h3{
  padding: 10px;
  overflow: hidden;
}

.results a:hover {
  text-decoration: underline;
  color: white;
}

.date {
  display: inline-block;
  text-decoration: none;
}

.follow {
  text-align: center;
}

.follow input{
  display: inline;
  font: Helvetica Bold;
  font-size: 20px;
  padding: 10px 35px;
  background-color: rgb(152,255,152);
}

.recognize {
  position: absolute;
  right: 0%;
  top: 30%;
  transform: translate(-10%, -50%);
  color: white;
}

.recognize input{
  background-color: rgb(0,0,0);
  text-decoration: none;
  color: white;
  font-size: 17px;
  cursor: pointer;
  border: none;
  outline: none;
}

.recognize input:hover {
  text-decoration: underline;
  color: white;
}

.recognize a{
  background-color: rgb(0,0,0);
  text-decoration: none;
  color: white;
  font-size: 17px;
  cursor: pointer;
  border: none;
  outline: none;
}

.recognize a:hover {
  text-decoration: underline;
  color: white;
}

.spotify input{
  text-align: center;
  display: inline;
  font: Helvetica Bold;
  font-weight: bold;
  padding: 10px 25px;
  background-color: rgb(152,255,152);
}

.hot {
  display: inline-block;
  position: relative;
  color: white;
  height: 130px;
  margin: 15px;
  width: 850px;
  border-style: groove;
  border-color: white;
  border-width: thin;
  text-align: left;
}

.hot img {
  float: left;
  height: 124px;
  border-style: solid;
  border-color: white;
  border-width: medium;
}

.hot h2, h3 {
  padding: 10px;
  overflow: hidden;
}

.containHot {
  text-align: center;
}

#glogin{
  text-decoration: none;
  font-size: 17px;
  color: white;
  padding: 8px;
  background-color: black;
  border: white solid 2px;
  border-radius: 5px 5px 5px 5px;
}

#glogin:hover{
  color: lightgray;
  background-color:midnightblue;
  border-color: lightgray;
}

.matches-vids {
  position: relative;
  color: white;
  height: fit-content;
  margin: 20px;
  width: 70%;
  border-style: groove;
  border-color: white;
  border-width: thin;
}

.matches-vids img {
  float: left;
  height: 124px;
  border-style: solid;
  border-color: white;
  border-width: medium;
}

.matches-vids h2, h3{
  padding: 10px;
  overflow: hidden;
}

.hot-vids {
  display: inline-block;
  position: relative;
  color: white;
  height: 130px;
  margin: 15px;
  width: 47%;
  border-style: groove;
  border-color: white;
  border-width: thin;
  text-align: left;
}

.hot-vids img {
  float: left;
  height: 124px;
  border-style: solid;
  border-color: white;
  border-width: medium;
}

.hot-vids h2, h3 {
  padding: 10px;
  overflow: hidden;
  height: 10px;
}

.vids-recognize {
  position: absolute;
  right: 0%;
  top: 55%;
  transform: translate(-10%, -50%);
  color: white;
}

.vids-recognize input{
  background-color: rgb(0,0,0);
  text-decoration: none;
  color: white;
  font-size: 17px;
  cursor: pointer;
  border: none;
  outline: none;
}

.vids-recognize input:hover {
  text-decoration: underline;
  color: white;
}

.vids-recognize a{
  background-color: rgb(0,0,0);
  text-decoration: none;
  color: white;
  font-size: 17px;
  cursor: pointer;
  border: none;
  outline: none;
}

.vids-recognize a:hover {
  text-decoration: underline;
  color: white;
}

.alertbtn {
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 10px 20px;
  float: left;
  user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.alertbtn:hover, .alertbtn:focus {
  background-color: rgb(50,50,50);
  cursor: pointer;
}

.notificationList {
  text-align: left;
  display: none;
  width: 25%;
  min-width: 280px;
  height:100%;
  position: fixed;
  right: 0;
  color: white;
  z-index: 3;
  background-color: grey;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.notificationList h2{
  text-align: center;
}


.noteList-content {
  width: 100%;
  display: none;
  position: absolute;
  background-color: grey;
  z-index: 3;
}

.noteList-content li {
  color: white;
  padding: 12px 16px;
  background-color: grey;
  z-index: 3;
}

.noteList-content li :hover{
  color: crimson;
  cursor: pointer;
}

.noteList-content span {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: inline-block;
}

.noteList-content .remove {
  color: lightcoral;
  font-size: 1.3em;
  padding: 12px 16px;
  text-decoration: none;
  display: inline-block;
}

.show {display: inline-block;}

.alertbtn .badge {
  position: absolute;
  top: 5px;
  right: 130px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}
.close_alert{
position: absolute;
right: 35px;
top: 15px;
font-size: 40px;
font-weight: bold;
color: #f1f1f1;
user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}
.close_alert:hover,
.close_alert:focus {
color: #f44336;
cursor: pointer;
}
.Rating {
  position: absolute;
  right: 0%;
  top: 60%;
  transform: translate(-10%, -50%);
  color: white;
}

.Rating h3{
  display: inline-block;
  margin-left: -6px;
  margin-right: -8px;
  margin-top: 0px;
  margin-bottom: 0px;
  float: right;
}

.Rating a{
  text-decoration: none;
  color: white;
}

.Rating a:hover {
  text-decoration: underline;
  color: white;
}

.ratingPicture img{
  height: 500px;
  border-style: solid;
  border-color: white;
  border-width: medium;
}

.ratingAttr {
  padding: 10px;
  overflow: hidden;
}

.ratingAttr label {
  font-size: 20px;
  font-weight: bolder;
}

.ratingOptions {
  width: 40px;
  height: 30px;
  font-weight: bolder;
}

.ratingAttr input{
  font-weight: bolder;
  background-color: white;
  padding: 5px;
}

.content {
  margin-top: -6px;
  float: right;
  width: 80.6%;
}
