<!DOCTYPE html>
<html>
<head>
  <title>Confirm</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/creategroupStyle.css" />
</head>
<body>
    <div class="container">
        <p>User has been added to the chat</p> <br>
        <a href="/chat/<%= username %>/0">RETURN</a>
    </div>
</body>
</html