<!DOCTYPE html>
<html>
    <head>
        <title>Messages</title>
        <link rel="stylesheet" href="/stylesheets/chat.css">
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    </head>
    <body>
        <div class="nav">
            <div class="options">
                <a href="/mypage">Home</a>
                <a href="/mypage">Notifications</a>
                <a href="/chat">Messages</a>
                <a href="/mypage">My Music</a>
                <a href="/profile" style="float:right">Name</a>
            </div>
            <div class="centered">
                <a href="/mypage">Museical</a>
            </div>
        </div>

        <div class="contactList">
            <h2>Contacts</h2>
            <ul></ul>
        </div>

        <div class="container"></div>
            <ul id="messages"></ul>
            <form action="/" method="POST" id="chatForm">
            <input id="text" autocomplete="off" autofocus="on" placeholder="type a message..." /><button>Send</button>
            </form>
            <script>
                // submit text message without reload/refresh the page
                $('form').submit((evt)=>{
                    evt.preventDefault(); // prevents page reloading
                    socket.emit('chat_message', $('#text').val());
                    $('#text').val('');
                    return true;
                });
            </script>
            <script src="/socket.io/socket.io.js"></script>
            <script>
              var socket = io();
            </script>
        </div>
    </body>
    </html>
