<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Confirm</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/creategroupStyle.css" />
</head>
<body>
    <div class="container">
        <p>Your new empty group has been created. You can add members by navigating to your new chat on your contacts list. <br> 
          Click to return to your chats.</p> <br>
        <a href="/chat/<%= newchatinfo.chatid %>">RETURN</a>
    </div>
</body>
</html
