<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Social Media App: Museical</title>
    <link rel="stylesheet" href="./stylesheets/style.css">
  </head>
  <body>
    <h1 class="Magenta" > My Social Media App: Museical</h1>
    <div class="qwerty">

    <form class="tyler" action="/ForgotPassword" method="post">
      <fieldset>
          <Legend class="roy"> Password Forgot?</Legend>
      <p>
        <label>Registered E-mail:</label>
        <input type="email" name="myemail" id="usr_email" placeholder="Enter your e-mail">
          </p><br><br>
          <p>
            <label>New Password:</label>
          <input type="Password" name="mypassword1" id="usr_password" placeholder="Enter ypur password">
          </p>
          <br><br>
          <p>
            <label> Confirm New Password:</label>
          <input type="Password" name="mypassword2" id="usr_password" placeholder="Enter ypur password">
          </p>
          <button >Submit</button>

      </fieldset>
    </form>
    </div>
    <footer class="bottom" style="text-align: center;"> <h3>&copy; Copyright 2020, Example Corporation</h3> </footer>
    <script>
    alert("Please enter same password in both of them")


    </script>

       </body<>
       </html>
