<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Confirm</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/creategroupStyle.css" />
</head>
<body>
    <div class="container">
        <p>You have left the chat. <br> 
          Click to return to your chats.</p> <br>
        <a href="/chat/0">RETURN</a>
    </div>
</body>
</html