<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Social Media App: Museical</title>
    <link rel="stylesheet" href="./stylesheets/style.css">
  </head>
  <body>
    <h1 class="Magenta" > My Social Media App: Museical</h1>

    <form class="tyler" action="/authentification" method="post">
      <fieldset>
          <Legend class="roy"> Please Login:</Legend>
      <p>
        <label>Username:</label>
        <input type="text" name="username" id="usr_email" placeholder="Enter your username">
          </p><br><br>
          <p>
            <label>Password:</label>
          <input type="Password" name="mypassword" id="usr_password" placeholder="Enter your password">
          </p>
          <br>
          <% if (alert == 'username'){ %>
            <h4 class="alert">The username you have entered is not a registered account. Please try again, or click below to register</h4>
           <% } %>
           <% if (alert == 'password'){ %>
            <h4 class="alert">The password you have entered is incorrect. Please try again.</h4>
          <%  } %>
          <br>
          <button >Login</button>

      </fieldset>
    </form>

  <div class="rat">
    <a href="/register"> If not registered click here</a>
  </div>

 <footer class="bottom"> <small>&copy; Copyright 2020, Example Corporation</small> </footer>

    </body<>
    </html>
