<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <title>Current News</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  	<style type="text/css">
      #loader{
        heaight: 100vh;
        align-items:center;
        display:flex;
        justify-content:center;
      }
      .progress{
        display:none;
      }
      .errorMsg{
        font-size:34px;
        height:100vh;
        align-tems:center;
        display:flex;
        justify-content: center;
      }
      </style>
  </head>
  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <div class="container">
          	<a href="#" class="brand-logo">News Api</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
  						<li class="active"><a href="index.html">News</a></li>
  						<li><a href="about.html">About us</a></li>
  						<li><a href="contact.html">Contact us</a></li>
  					</ul>
            </div>
            </div>
            </nav>
            </div>

            <div class="container">
              <div class="row">
                        <div id="newsResults"></div>
                </div>
                <div id="loader">
                  <div class="progress">
                    <div class="indeterminate"</div>
                      </div>
                </div>
            </div>
            <script type="text/javascript" src="./jquery-3.3.1.min.js"></script>
          	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
              <script type="text/javascript" src="./app.js"></script>


              

</body>
</html>
