<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Current News</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  	<style type="text/css">

      </style>
  </head>
  <body>
    <form class="search" action="">
      <label for="">News</label>
      <input class="input" type="text" />
      <br>
      <input type="submit"/>
    </form>
    <div class="container">
      <ul class="news-list"></ul>
    </div>

    <script>
    const searchFrom=document.querySelector('.search');
    const input=document.querySelector('.input');
    const newsList=document.querySelector('.news-list');
    console.log(newsList)


    searchFrom.addEventListener('submit', retrieve)

    function retrieve(e){
      if(input.value==''){
        alert('Input field is empty!!');
        return;
      }

      newsList.innerHTML=''
      e.preventDefault()
      const apiKey=`e9c4c6f3445b4bc9bdd19c823eb59ab7`
      let topic=input.value;

      let url=`http://newsapi.org/v2/everything?q=${topic}&apiKey=${apiKey}`

      fetch(url).then((res)=>{
        return res.json()
      }).then((data)=>{
        console.log(data)
        data.articles.forEach(article =>{
          let li=document.createElement('li');
          let a=document.createElement('a');
          a.setAttribute('href',article.url);
          a.setAttribute('target','_blank');
          a.textContent=article.title;
          li.appendChild(a);
          newsList.appendChild(li);

        })
      })
    }
    </script>

</body>
</html>
