<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <title>Current News</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  	<style type="text/css">
      #loader{
        heaight: 100vh;
        align-items:center;
        display:flex;
        justify-content:center;
      }
      .progress{
        display:none;
      }
      .errorMsg{
        font-size:34px;
        height:100vh;
        align-tems:center;
        display:flex;
        justify-content: center;
      }
      </style>
  </head>
  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <div class="container">
          	<a href="#" class="brand-logo">News Api</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
  						<li class="active"><a href="index.html">News</a></li>
  						<li><a href="about.html">About us</a></li>
  						<li><a href="contact.html">Contact us</a></li>
  					</ul>
            </div>
            </div>
            </nav>
            </div>

            <div class="container">
              <div class="row">
                        <div id="newsResults"></div>
                </div>
                <div id="loader">
                  <div class="progress">
                    <div class="indeterminate"</div>
                      </div>
                </div>
            </div>
            <script type="text/javascript" src="./jquery-3.3.1.min.js"></script>
          	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
              <script>

                $(document).ready(function () {

                  let url = "https://newsapi.org/v2/everything?q=bitcoin&from=2020-07-01&sortBy=publishedAt&apiKey=e9c4c6f3445b4bc9bdd19c823eb59ab7";

                  $.ajax({
                    url: url,
                    method: "GET",
                    dataType: "JSON",

                    beforeSend: function () {
                      $(".progress").show();
                    },

                    complete: function () {
                      $(".progress").hide();
                    },
                    success: function(){
                      let output="";
                      let latestNews=news.articles;
                      document.write(latestNews);
                      for(var i in latestNews){
                        output+=`<div class="col l3 m6 s12">
                          <div class="card medium hoverable">
                            <div class="card-image">
                              <img src="${latestNews[i].urlToImage}" class="responsive-img" alt="${latestNews[i].title}">
                              </div>
                              <div class="card-content">
                                <span class="card-title activator"><i class="material-icons right">more_vert</i></span>
                                <h6 >${latestNews[i].title}</h6>

                              </div>

                              <div class="card-reveal">
                                <span class="card-title"><i class="material-icons right">close</i></span>
                                <p> ${latestNews[i].description}</p>
                              </div>

                              <div class="card-action">
                                <a href="${latestNews[i].url}" target="_blank" class="btn">Read More</a>
                              </div>
                            </div>
                           </div>
                           `;

                      }
                      if(output!=""){
                        $("#newsResults").html(ouput);
                      }
                    },

                  error:function(){
                    let errorMsg = `<div class="errorMsg center">Some error occured</div>`;
                    $("#newsResults").html(errorMsg);
                  }
                  })
                });
                </script>
</body>
</html>
