<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Social Media App</title>
    <link rel="stylesheet" href="./stylesheets/style.css">
  </head>
  <body>
    <h1 class="Magenta" > My Social Media App: Museical</h1>
<div class="qwerty">

    <form class="elon" action="/register" method="post">

      <fieldset>
          <Legend class="roy"> Registration Form:</Legend>
          <p>
            <label>Name:</label>
            <input type="text" name="my_name" placeholder="Name" >
              </p><br><br>
      <p>
        <label>E-mail:</label>
        <input type="email" name="my_email" placeholder="Enter your E-mail" >
          </p><br><br>
          <p>
            <label>Password:</label>
          <input type="Password" name="my_password1" placeholder="Enter your password" value="" id="pass1">
          </p>
          <p>
            <label>Please type your Password again:</label>
          <input type="password" name="my_password2" placeholder="Enter your password" value="" id="pass2">
          </p>
          <br><br>
          <button >Submit</button>
      </fieldset>

    </form>
  </div>
  <footer class="bottom"> <h3>&copy; Copyright 2020, Example Corporation</h3> </footer>
<script>
alert("Entered passwords didn't match.Please enter same passowrd in both of them!!");
  </script>

    </body<>
    </html>
