  <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Social Media App</title>
    <link rel="stylesheet" href="./stylesheets/style.css">
  </head>
  <body>
    <h1 class="Magenta" > My Social Media App: Museical</h1>
<div class="qwerty">

    <form class="elon" action="/registration" method="post">

      <fieldset>
          <Legend class="roy"> Registration Form:</Legend>
          <p>
            <label>Please enter a username:</label>
            <input type="text" name="my_username" placeholder="john123" >
              </p><br><br>
      <p>
        <label>Enter your E-mail:</label>
        <input type="email" name="my_email" placeholder="johnsmith@gmail.com" >
          </p><br><br>
          <p>
            <label>Password:</label>
          <input type="Password" name="my_password1" placeholder="Enter your password" value="" id="pass1">
          </p>
          <p>
            <label>Please type your Password again:</label>
          <input type="password" name="my_password2" placeholder="Re-enter your password" value="" id="pass2">
          </p>
          <br>
          <% if (alert == 'username'){ %>
            <h4 class="alert">The username you have entered is taken, please try a different one.</h4>
           <% } %>
           <% if (alert == 'email'){ %>
             <h4 class="alert">The E-mail you have entered is already in use. Please use a different E-mail.</h4>
            <% } %>
           <% if (alert == 'password'){ %>
            <h4 class="alert">The passwords you have entered are not the same. Please try again.</h4>
           <% if (alert == 'AccessDenied'){ %>
            <h4 class="alert">No access.</h4>
          <%  } %>
          <br>
          <button >Submit</button>
      </fieldset>

    </form>
  </div>
  <footer class="bottom"> <small>&copy; Copyright 2020, Example Corporation</small> </footer>
    </body<>
    </html>
