<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Social Media App</title>
    <link rel="stylesheet" href="./stylesheets/style.css">
  </head>
  <body>
    <h1 class="Magenta" > My Social Media App: Museical</h1>


    <form class="elon" action="/registration" method="post">

      <fieldset>
          <Legend class="roy"> Registration Form:</Legend>
          <p>
            <label>Please enter a username:</label>
            <input type="text" name="my_username" placeholder="john123" > <span> <div class="username">
              That username is already taken. Please try another.
            </div> </span>
              </p><br><br>
      <p>
        <label>Enter your E-mail:</label>
        <input type="email" name="my_email" placeholder="johnsmith@gmail.com" >
          </p><br><br>
          <p>
            <label>Password:</label>
          <input type="Password" name="my_password1" placeholder="Enter your password" value="" id="pass1">
          </p>
          <p>
            <label>Please type your Password again:</label>
          <input type="password" name="my_password2" placeholder="Re-enter your password" value="" id="pass2">
          </p>
          <br><br>
          <button >Submit</button>
      </fieldset>

    </form>
  <footer class="bottom"> <small>&copy; Copyright 2020, Example Corporation</small> </footer>


    </body<>
    </html>
