<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/stylesheets/homepage.css">
    <title>Homepage</title>
  </head>
  <body>




    <div class="nav">

      <a href="/mypage">Home</a>
      <a href="/mypage">Notifications</a>
      <a href="/mypage">Messages</a>
      <a href="/mypage">My Music</a>
      <a href="/mypage" style="float:right">Name</a>
      
      <div class="centered">
        <a href="/mypage">Museical</a>
      </div>

    </div>


    <h3>
      Hot Right Now
    </h3>
    <h3>
      Based On Your Picks
    </h3>
    <h3>
      Your Friends Activity
    </h3>

  </body>
</html>
